.createTagText {
    margin: 0;
    padding: 10px 0 10px 10px;
    font-size: 14px;
    color: gray;
}

.createTagDiv:hover {
    background-color: rgb(211, 211, 211, 0.3);
    cursor: pointer;
}

#createTagFormContainer {
    padding: 5px;
}

#createTagForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: max-content;
    margin: 0 10px 10px 10px;
}

#createTagXDiv {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

#tagFormHeader {
    margin: 0;
    margin-bottom: 10px;
}

#createTagXDiv:hover {
    background-color: rgb(211, 211, 211, 0.3);
}


.tagFormInputs {
    padding: 8px;
    margin-bottom: 10px;
}

.tagLabels {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

#createButtonDiv {
    display: flex;
    justify-content: flex-end;
}

#tagFormSubmit {
    margin-top: 10px;
    background-color: #2e69ff;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.manageTags {
    cursor: pointer;
}
