#loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.pexels.com/photos/3625632/pexels-photo-3625632.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height: 100vh;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 548px;
    width: 600px;
    background-color: white;
}

#loginTitleContainer {
    width: 600px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginTitle {
    margin-top: 0;
    border-bottom: 1px solid black;
}

#loginInputsContainer {
    width: 450px;
    height: 400px;
    padding: 0 10px;
}

.loginInputsDiv {
    display: flex;
    flex-direction: column;
}

.loginInputs {
    height: 27px;
    padding: 8px;
    margin-bottom: 20px;
}

.loginErrors {
    height: 27px;
    padding: 8px;
    margin-bottom: 10px;
    color: red;
    font-weight: bold;
}

.authButton {
    background-color: lightblue;
    color: white;
    font-weight: bold;
    height: 38px;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
}

#signUpModalText {
    margin-top: 5px;
}
