#signUpFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 600px;
}

#signUpForm {
    height: 500px;
    width: 550px;
}

.signUpInputs {
    height: 20px;
    padding: 4px;
    margin-bottom: 10px;
}

#errorsDiv {
    height: 27px;
    padding: 8px;
    margin-bottom: 10px;
    color: red;
    font-weight: bold;
}

.signUpButton {
    background-color: lightblue;
    color: white;
    font-weight: bold;
    height: 38px;
    border: none;
    border-radius: 25px;
    margin-top: 25px;
    width: 100%;
    cursor: pointer;
}
