#profileContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.navProfileIcon {
    padding-right: 15px;
    cursor: pointer;
}

.profile-dropdown {
    border-radius: 20px;
    border: none;
    background-color: white;
    display: flex;
    height: 42px;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.profile-details {
    position: absolute;
    list-style: none;
    background-color: white;
    border: 1px solid grey;
    border: 1px rgba(34, 34, 34, 0.15) solid;
    border-radius: 12px;
    font-size: 16px;
    min-width: 160px;
    max-width: 300px;
    max-height: 480px;
    overflow: hidden;
    margin: 0;
    top: 50px;
    right: 21%;
    padding: 0;
}

.profile-details-li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    cursor: pointer;
}

.profile-details-li:hover {
    background-color: rgba(34, 34, 34, 0.05);
}

.navbar-name {
    font-weight: bold;
    font-size: 18px;
    height: 80px;
    border-bottom: 1px solid lightgray;
}

#navbarNoImageIcon {
    height: 35px;
    width: 35px;
    color: white;
    background-color: rgb(216, 99, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
}
