#questionDetailPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questionDetailPage {
    margin-top: 70px;
}

.questionDiv {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 628px;
    height: max-content;
    padding: 0 16px;
}

.questiontextDiv {
    padding-top: 16px;
    padding-bottom: 10px;
}

.questionText {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.interactionDiv {
    height: 30px;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    color: gray;
}

.details:hover {
    background-color: rgb(211, 211, 211, 0.3);
}

.answerDiv {
    border-radius: 25px;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 1px solid lightgray;
}

.answerDiv:hover {
    background-color: rgb(211, 211, 211, 0.3);
}

.answerAmount {
    padding-left: 15px;
    font-weight: bold;
    font-size: 15px;
}


.answersContainer {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 628px;
    margin-bottom: 15px;
}

.answerProfileDiv {
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.answerTextDiv {
    padding: 10px;
}

.noAnswersDiv {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

#answerCanYou {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    row-gap: 10px;
    border-bottom: 1px solid lightgray;
}

.tagDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    column-gap: 2px;
}

.questionsTags {
    display: flex;
    align-items: center;
    color: gray;
    background-color: rgb(211, 211, 211, 0.3);
    padding: 5px 5px;
    margin-left: 3px;
    margin-top: 3px;
    font-size: 13px;
    height: 15px;
    width: min-content;
}

.questionsTags:hover {
    color: rgb(0, 0, 255, 0.7);
    cursor: pointer;
}
